body {
    background: linear-gradient(to right, #f857a6, #ff5858);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.form {
    background: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    margin: 90px 10%;
   
    padding: 30px;
}

h4 {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0px;
}

h5 {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0px;
    margin-bottom: 10px;
}

ol {
    padding-left: 20px;
    margin: 10px 0px;
   
}

li {
    padding: 5px;
    width: 95%;
    margin: 0 auto;
    position: relative;
}

li:hover{
    background: #eee;
    border-radius: 5px;
}

input {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #eee;
    font-size: 15px;
    color: #bbb;
}

::placeholder {
    color: #eee;
}

.complete_item{
    text-decoration: line-through;
}

.material-icons {
    justify-content: flex-end;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    /* float: right; */
}

.complete_button:hover {
    background: #ff69b4;
    color: white;
}

.complete_button {
    border: .5px solid #f857a6;
    border-radius: 5px;
    margin: 0px 5px;
    text-align: center;
    padding: 5px 5px;
    color: #f857a6;
    margin: 5px 10px;
}

.add_button {
    display: flex;
    margin-top: 15px;
    background: #f857a6;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    padding: 10px;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: white;
    flex-direction: column;
    /* margin: 15px 6%; */
}

.add_button:hover {
    background: #ff69b4;
}